{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<main id="main">
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Aman Pandita</h1>
      <p>I'm a <span class="typed" data-typed-items="Developer, Developer, Engineer, Student"></span></p>
    </div>

    <div class="social-icons" data-aos="fade-in">
      <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/aman-pandita/"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" target="_blank" href="https://github.com/AmanPandita"><i class="fab fa-github"></i></a>
<!--      <a class="social-icon" href="+1 (458) 272-7930"><i class="fas fa-phone"></i></a>-->
      <a class="social-icon" href="tel:+14582727930"><i class="fas fa-phone"></i></a>

<a class="social-icon" href="mailto:panditaaman67@gmail.com" title="Send an email to panditaaman67@gmail.com"><i class="fas fa-envelope"></i></a>




<!--      <a class="social-icon" href="https://twitter.com/_goyalaman"><i class="fab fa-phone"></i></a>-->
<!--      <a class="social-icon" href="https://dev.to/goyalaman"><i class="fab fa-dev"></i></a>-->
<!--      <a class="social-icon" href="https://blog.amangoyal.ml/">-->
<!--        <iconify-icon data-icon="cib-hashnode"></iconify-icon>-->
      </a>
    </div>
    
    {% if resume_url %}
      <div style="margin-top: 1rem;"  data-aos="fade-in">
        <strong>
          <u>
            <a href="{{resume_url.url}}">Download Resume</a>
          </u>
        </strong>
      </div>
    {% endif %}
    
  </section><!-- End Hero -->


  <!-- ======= About Section ======= -->
  <section id="about" class="about" data-aos="fade-in">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>
          A Software Engineer with over 3+ years of experience and a Master's in Computer Science, specializes in Full-stack development, improving user interfaces, data visualization, and e-commerce analytics, backed by a broad skill set in multiple programming languages and technologies
        </p>
      </div>
      <div class="col-xl-12 col-lg-8 col-md-8 pt-4 pt-lg-0 content" data-aos="fade-in">
        <h3>Software Engineer.</h3>
        <p class="font-italic">
          I'm a graduate student of Oregon State University and actively looking for job opportunities in Backend and Data Analyst roles.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birth Year:</strong> 2000 </li>
<!--               <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> *********</li> -->
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +1 (458) 272-7930</li>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Corvallis, Or, USA</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 23</li>
              <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Masters</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> panditaaman67@gmail.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
            </ul>
          </div>
        </div>
        <p>I love reading,
          creating new stuff every day. Curiosity drives me.
          Always up for new challenges. I am quick to learn
          and willing to adapt to any job.
        </p>
      </div>
    </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Stats Section ======= -->
  <section id="stats" class="stats">
    <div class="container">

      <div class="section-title">
        <h2>Stats</h2>
        <p>
          Did Algorithms and Data Structure Graduate level in my final term and also did projects like CrackStation (Unsalted hashes checker), Oregon Department of Transportation Data Analysis of complete vehicle data in the state of oregon. I'm also a Django developer with projects in it uploaded on Github.
        </p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">
              <p>69</p>
            </span>
            <p><strong>Commits</strong> on gitub</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">9</span>
            <p><strong>Projects,</strong> details in project page. Source code available on github</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <!-- <i class="icofont-users-alt-5"></i> -->
            <i class="icofont-clock-time"></i>
            <!-- <span data-toggle="counter-up">412&nbsp+</span> -->
            <span data-toggle="counter-up">200</span>
            <p><strong>Hours</strong> invested in 2023 </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->


  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Dedicated Software Engineer with a Master's in Computer Science from Oregon State University, offering a blend of development expertise and analytical skills. Proficient in Python, JavaScript, and cloud technologies, with a notable impact on system optimization and data-driven decision-making. Committed to enhancing user experiences and operational efficiencies through innovative solutions. Seeking to leverage technical acumen and collaborative spirit in a challenging new role.

        </p>
      </div>

      <div class="row">
        <div class="col-lg-30" data-aos="fade-in">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Aman Pandita</h4>
            <ul>
              <li>Corvallis, Oregon</li>
              <li>+1 (458) 272-7930</li>
              <li>panditaaman67@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Masters in Engineering in Computer Science</h4>
            <h5>2022 - 2023</h5>
            <p><em>Oregon State University</em></p>
            <ul>
              <li>GPA: 3.8 </li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Bachelor of Technology in Computer Science and Engineering</h4>
            <h5>2017 - 2021</h5>
            <p><em>Maharshi Dayanand University Rohtak</em></p>
            <ul>
              <li>GPA: 3.8 </li>

            </ul>
          </div>


          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>March 2022 - December 2023</h5>
            <p><em>Oregon State University, Corvallis, Oregon </em></p>
            <ul>
              <li>Developed and deployed dynamic web applications using React, TypeScript. This strategic move led to achieving a 50% surge in user engagement, revolutionizing user interaction and setting new benchmarks in web application design.</li>
              
              <li>Developed and launched RESTful APIs in TypeScript, optimizing system performance by 30% and enhancing user experience through faster, more reliable data access.</li>
              
              <li>Managed a team of 8 during the process of seamlessly integrating Docker to streamline the application deployment process. This implementation enhanced deployment speed and consistency by 35%, reducing resource overhead and enhancing scalability across diverse operational environments.</li>
              
              <li>Utilized Heroku CLI for Continuous Integration and Continuous Deployment, significantly reducing downtime by 20% during updates. This enhancement not only optimized operational efficiency but also established a more robust and reliable update process.</li>
              
              <li>Crafted custom React hooks, simplifying and decluttering the codebase, which led to a 20% reduction in code complexity and enhanced maintainability. This innovation streamlined development processes and improved overall code readability and reusability.</li>
              
              <li>Created scalable database solutions with MongoDB, which supported a 30% increase in high-volume data transactions while maintaining data integrity. This effort was pivotal in managing escalated user traffic and data processing demands.</li>
              
              <li>Architected AWS-based distributed systems, achieving 99.9% uptime. Implemented load balancing and auto-scaling, enhancing system resilience by 40% and supporting a 30% increase in global user traffic.</li>
            </ul>
          </div>


          <div class="resume-item">
            <h4>Full Stack Developer</h4>
            <h5>March 2021 - March 2022</h5>
            <p><em>3i Infotech Ltd. Noida, UP</em></p>
            <ul>
              <li>Developed a React-based web application for e-commerce analytics, integrating TypeScript and Python for real-time data visualization. Boosted customer engagement by 40% and improved sales prediction accuracy by 25% with AI features using TensorFlow.</li>
              
              <li>Revamped application deployment using Docker, enhancing scalability and consistency, reducing deployment time by 30%, and refining the release process.</li>
              
              <li>Implemented robust information security measures in the e-commerce application, resulting in zero security breaches or data leaks. Optimized the system with J2EE and jQuery, reducing website load times by 20% and increasing user engagement.</li>
              
              <li>Devised and executed an exhaustive testing strategy for the e-commerce platform. This meticulous approach led to a 20% reduction in bugs and a 15% uplift in user satisfaction rates.</li>
              
              <li>Architected and optimized TypeScript-based APIs for e-commerce analytics, automating data processes and accelerating processing speeds by 40%, which significantly improved sales prediction accuracy.</li>
              
            </ul>
          </div>

          <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>January 2019 - Feb 2020</h5>
            <p><em>E-Expedise Technologies Ltd. Gurgaon, Haryana </em></p>
            <ul>
              <li>Developed and implemented innovative SQL database schemas and optimized queries, resulting in a 50% increase in data handling efficiency for machine learning model training and inference pipelines.</li>
              <li>Engaged in the full-stack development of data analysis and visualization tools, utilizing JavaScript, Python, and RESTful API services to enhance user experience and improve overall data insights.</li>
              <li>Monitored bug resolution on multiple platforms, analyzing problematic software and implementing code fixes that resulted in a 100% error- free final customer delivery.</li>
              <li>Tested over 10 software products for bugs, assessed & fixing coding errors for faster client product resolution.</li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <!-- </section> -->
    <!-- End Resume Section -->



    <!-- ======= Skills Section ======= -->
    <!-- <section id="skills" class="skills section"> -->
    <div id="skills" class="container skills section">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-in">

          <div class="progress">
            <span class="skill">Python <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C/C++ <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">SQL <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Machine Learning <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Amazon Web Services <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6" data-aos="fade-in" data-aos-delay="0">


          <div class="progress">
            <span class="skill">Django <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Git and Version Control <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Power BI <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Data Visualization <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Object Oriented programming <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CI/CD <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->











  <!-- ======= Portfolio Section ======= -->

  <section id="projects" class="portfolio section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-30" data-aos="fade-in">

          <div class="section-title">
          <h2>Projects</h2>


          <div class="resume-item">
            <h4>Dynamic Personal portfolio using React and GraphQL <a class="social-icon" target="_blank" href="https://www.amanpandita.com"><i class="fab fa-github"></i></a></h4>
            <ul>
              <li>Developed the portfolio using React, integrating GraphQL for efficient data handling, resulting in a 50% reduction in server response time.</li>
              <li>Enhanced user engagement by embedding React Twitter Embed and React Easy Emoji, leading to a 25% increase in user interaction on the site.</li>
              <li>Utilized React Headroom for interactive navigation and integrated Color Thief for cohesive color schemes, contributing to an aesthetically pleasing and user-friendly interface.</li>
              <li>Successfully deployed the portfolio on Heroku and utilized the Heroku CLI for updates, resulting in a 35% improvement in deployment efficiency and proficiency in continuous integration processes.</li>
            </ul>
          </div>


          <div class="resume-item">
            <h4>Blog Web Application <a class="social-icon" target="_blank" href="https://github.com/AmanPandita/Blog_WebApplication"><i class="fab fa-github"></i></a></h4>
            <ul>
              <li>Engineered a dynamic web-based blogging platform, iBlogs, using Django, facilitating an engaging and user-friendly blogging experience with seamless setup and customization options.</li>
              <li>Implemented robust user authentication processes, ensuring secure access through sign-up and login capabilities, enhancing platform integrity and user trust.</li>
              <li>Integrated a sophisticated rich text editor for content creation, enabling expressive and multimedia-rich blogging, coupled with a responsive design for optimal viewing on various devices.</li>
              <li>Developed an intuitive admin panel for comprehensive blog management, streamlining content moderation, and administrative tasks, simplifying the end-to-end blog lifecycle maintenance.</li>
            </ul>
          </div>


            <div class="resume-item">
            <h4>Oregon Department of Transportation Analysis <a class="social-icon" href="https://github.com/AmanPandita/CS558-458_InfoVisualization" target="_blank"><i class="fab fa-github"></i></a></h4>
            <ul>
              <li>Deployed regular expression pattern [A-Za-z0-9?!]{1,3} to facilitate matching of passwords against encrypted files, achieving 90% accuracy within 1 week.</li>
              <li>Established library with SHA-1 & SHA-256 encryption support, increasing accuracy by 20% and deliver insights between 1.2 million decrypts/min.</li>
              <li>Developed Lambda functions in Python, Node.js to perform specific tasks such as data processing, file manipulation, and image recognition. </li>
              <li>Integrated Lambda functions with other AWS services such as Amazon S3, Amazon Dynamo-DB, and Amazon SQS to build more complex serverless applications. </li>
            </ul>
          </div>


            <div class="resume-item">
            <h4>Crack Station, A Decrypted Implementation <a class="social-icon" href="https://github.com/AmanPandita/CrackStation" target="_blank"><i class="fab fa-github"></i></a></h4>
            <ul>
              <li>Deployed regular expression pattern [A-Za-z0-9?!]{1,3} to facilitate matching of passwords against encrypted files, achieving 90% accuracy within 1 week.</li>
              <li>Established library with SHA-1 & SHA-256 encryption support, increasing accuracy by 20% and deliver insights between 1.2 million decrypts/min.</li>
              <li>Developed Lambda functions in Python, Node.js to perform specific tasks such as data processing, file manipulation, and image recognition. </li>
              <li>Integrated Lambda functions with other AWS services such as Amazon S3, Amazon Dynamo-DB, and Amazon SQS to build more complex serverless applications. </li>
            </ul>
          </div>

        </div>
      </div>





      <div class="row portfolio-container" data-aos="" data-aos-delay="">
        {% for project in project_data %}
        {% include 'landingpage/snippets/project_card.html' with heading=project.heading url=project.image_link live_link=project.live_link details_link=project.details_link %}
        {% endfor %}

      </div>

    </div>
  </section>


{% endblock content %}
